body{
	background: rgb(249, 197, 28);
    height: 100vh;
   background-size:cover;
	background-position:center;
}

.formx{
	position: relative;
	z-index: 1;
    box-sizing:border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.5);
    padding: 45px;
	text-align:center;
    color : black;
   background:white;
}


.formb{
	position: relative;
	z-index: 1;
    box-sizing:border-box;
    top:250px;
    margin-left: 150px;
    width: 60%;
	box-shadow: 0 15px 25px rgba(0,0,0,.5);
    padding: 45px;
	
    color : #fff;
   background: rgba(0, 0, 0);
  }


  ul{
    margin:0px;
   padding:0px;
 float: right;
 list-style-type: none;
 margin-top: 0.2px;
}
ul li {

display: inline-block;

}
ul li a{
text-decoration: none;
color:rgb(249, 197, 28);
font-size:  20px;
padding: 3px 15px;


}

ul li a:hover{

color: #000;
}
ul li.active a{

 
color: #000;
}
h1{
  
    float: left;
    list-style-type: none;
 
    
}

.formc{
	position: relative;
	z-index: 1;
    box-sizing:border-box;
    top:50px;
    margin: 10px;
    min-height: 60%;

	box-shadow: 0 15px 25px rgba(0,0,0,.5);
    padding: 45px;
    display:block;
    color: black;
    background: rgba(255, 255, 255);
    
  }



  .formc input{
   
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    border-bottom: 3px solid black;
    background: none;
	width:100%;
    margin: 0 0 15px;	
    padding: 15px;
    font-size:14px;
     border:none;
    outline: none;

}

.formc p{
   
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    border-bottom: 3px solid black;
    background: none;
	width:100%;
    margin: 0 0 15px;	
    padding: 15px;
    font-size:14px;
     border:none;
    outline: none;

}

.formc label{
    padding: 15px;
}


.baa{

    border-bottom: 3px solid black;

}
.dfc{
    margin-bottom: 20px;
       }
   
       .dfc input{
           width:78%;
           background: none;
           border:none;
       }
.formco{
	position: relative;
	z-index: 1;
    box-sizing:border-box;
    top:50px;
 

   margin:10px;
	box-shadow: 0 15px 25px rgba(0,0,0,.5);
    padding: 45px;
    display:block;
    color: black;
    background: rgba(255, 255, 255);

    
}

.formc select{
   
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    border-bottom: 3px solid black;
    background:  rgba(0, 0, 0, 0.288);
	width:100%;
    margin: 0 0 15px;	
    padding: 15px;
    font-size:14px;
     border:none;
    outline: none;
    -webkit-appearance:button;
}
.ass{
    display: inline-block;
    
}
.ass p
{
    width:100%;
    margin: 0 ;
    padding: 10px;
    display: inline-block;
}
.ass input{

    font-family: "Roboto", sans-serif;
    overflow: hidden;
    border-bottom: 3px solid black;
    background: none;
	width:40%;
    margin: 0 0 15px;	
    padding: 15px;
    font-size:14px;
     border:none;
    outline: none;
   
}

.navform{
    position: relative;
	z-index: 1;
    box-sizing:border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.5);
   padding: 0px;
   margin-left: 0%;
	text-align:center;
    color : #fff;
    background: rgba(0, 0, 0);
 
}

.navform ul {
    position: fixed;
	background: rgba(0,0,0,.8);
	box-sizing: cover;
	box-shadow: 0 0 25px rgba(0,0,0,.5);
	max-width: 600px;
    padding: 30px;
    margin: 10px;
    height: 30%;
    float: left;
    
     margin-top: 0px;
}

.navform ul li{
    display:block;
}


