body{
	background: #fcd80b;
    height: 100vh;
   background-size:cover;
	background-position:center;
}

.formx{
	position: relative;
	z-index: 1;
    box-sizing:border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.5);
    padding: 45px;
	text-align:center;
    color : black;
   background:white;

   
}
.dfc{
    margin-bottom: 20px;
       }
   
       .dfc input{
           width:78%;
           background: none;
           border:none;
       }


ul{
    margin:0px;
   padding:0px;
 float: right;
 list-style-type: none;
 margin-top: 0.2px;
}
ul li {

display: inline-block;

}
ul li a{
text-decoration: none;
color:rgb(249, 197, 28);
font-size:  20px;
padding: 3px 15px;


}

ul li a:hover{

color: #000;
}
ul li.active a{

 
color: #000;
}
h1{
  
    float: left;
    list-style-type: none;
 
    
}
.formb{
	position: relative;
	z-index: 1;
    box-sizing:border-box;
   
    
   background: rgba(255, 255, 255, 0.989);
    text-align: center;
    padding: 45px;
    margin-top: 18px;

    color : black;
  
  }

  .formb1{
	position: relative;
	z-index: 1;
    box-sizing:border-box;
   
    margin-left: 5px;
    

    
	margin-top: 80px;
    color : black;
  
  }


.formb label {
   
    margin: 10px;
   
}


.formb button{
    margin-top: 10px;
}

.baa{

padding: 10px;
margin:10px;


}